/node_modules
/public/hot
/public/js/
/public/uploads/board/*

/public/storage
/storage/*.key
/vendor
.env
.prettierrc
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.DS_Store
public/*
public/css
public/js
public/mix-manifest.json
sendgrid.env
.vscode