@include media-breakpoint-down(md) {
}

.brands {
    .main-img {
        padding: 0 50px;
        margin: 50px 0;
    }

    .brands-main-heading {
        margin: 25px 0;
        .brands-details {
            margin: 25px;
            text-align: justify;
            font-size: 18px;
            h3 {
                line-height: 2;
            }
        }
        .brands-icon {
            width: 50px;
            margin: 10px;
        }
        .brand-icon-text {
            margin-top: 15px;
        }
    }
    .brands-prod-container {
        margin-top: 35px;
        padding: 0;

        .ls-product-div {
            .prod-sale-price {
                margin: -23px 0px 0 0px;
                padding: 0 5px;
                z-index: 58;
                position: absolute;
                left: 0;
                background: $off-white;
                color: $product-price;
            }
            .prod-discount-tag {
                z-index: 58;
                position: absolute;
                right: 1px;
                bottom: 1px;
                background: #e8c101;
                padding: 0 4px;
                color: #fff;

                &._20 {
                    background: #e84c01;
                }
            }
            margin-bottom: 0px;
            padding: 1px;

            .ls-product {
                margin-bottom: 0px;
                min-height: 100px;
                background-position: center;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .brands {
        h3 {
            font-size: 1rem;
        }
        .main-img {
            padding: 5px 10px;
        }
        .brands-main-heading {
            text-align: center;
            margin: 25px;
        }

        .brands-prod-container {
            .ls-prod-container {
                .ls-product-div {
                    margin-bottom: 0px;
                    padding: 1px;
                    .ls-product {
                        margin: 0;
                    }
                }
            }

            .row {
                .brands-prod-div {
                    margin: 10px 0;

                    .brands-product {
                        .brands-product-img {
                            width: 345px;
                            // margin: 5px 0;
                        }
                    }
                    .product-detail {
                        padding: 0 10px;
                        text-align: center;
                    }
                }

                .prod-info {
                    bottom: 0px;
                    padding: 5px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                    height: 25px;
                    text-align: left;
                    font-size: 14px;
                    line-height: 14px;
                    z-index: 100;
                    color: $white;
                }
            }
        }
    }
}
