// Body
$body-bg: #f8fafc;
$body-bg-option: #fffffa;

// Typography
$font-family-sans-serif: 'Marcellus SC', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;
$off-white: #ffffffba;
$golden: #e4cd00;
$grey: #d6d6d6;
$facebook: #3b5998;
$category-bg: #21334b;
$products-bg: #ffcc00;
$product-price: #b76e79;
$icons-color: #929292;

// Main colors
$primary-color: #ffcc00;
$secondary-color: #0c1c31;
$text-subtle: #606060;
$border-color: #f2f4f3;
$brown-text-color: #b76e79;
$yellow-text-color: #fefce0;
$background-color: #fbfbfb;
$dropdown-background-color: #f7f6f7;

// Font colors
$font-color-black: $secondary-color;

// Values
$navbar-height: 72px;
$navbar-height-mobile: 33px;

////////////Listing specific
$listing-top-ctrl-height: 45px;
$listing-top-ctrl-icon-height: 25px;
