// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import url("https://fonts.googleapis.com/css?family=Marcellus+SC");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "bootstrap-overridden";

@import "~ion-rangeslider/css/ion.rangeSlider.min.css";

// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/_icons.scss";
// $fa-font-path: "../fonts/vendor/font-awesome/webfonts/" !default;
// $fa-font-path: "~@fortawesome/fontawesome-free/font-awesome/fonts";
// @import "vendor/fontawesome/scss/fontawesome.scss";
// @import '~font-awesome/scss/font-awesome.scss';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

@import "navbar";
@import "homepage";
@import "subnav";
@import "footer";
@import "listing";
@import "products-container";
@import "carousel";
@import "rating";
@import "custom-selectbox";
@import "custom-rangeslider";
@import "dropdown";
@import "searchbar";

//Slick carousel
$slick-font-family: "Font Awesome 5 Free";
$slick-prev-character: " ‹";
$slick-next-character: " ›";
$slick-arrow-color: $secondary-color;

@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

html, body {
    font-family: 'Marcellus SC', san-serif;
}