// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');

// Variables
@import 'variables';
// Mixins
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'bootstrap-overridden';

@import '~ion-rangeslider/css/ion.rangeSlider.min.css';

// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/_icons.scss";
// $fa-font-path: "../fonts/vendor/font-awesome/webfonts/" !default;
// $fa-font-path: "~@fortawesome/fontawesome-free/font-awesome/fonts";
// @import "vendor/fontawesome/scss/fontawesome.scss";
// @import '~font-awesome/scss/font-awesome.scss';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/v4-shims';

@import 'navbar';
@import 'homepage';
@import 'subnav';
@import 'footer';
@import 'listing';
@import 'products-container';
@import 'detailspage';
@import 'carousel';
@import 'rating';
@import 'custom-selectbox';
@import 'custom-rangeslider';
@import 'dropdown';
@import 'searchbar';
@import 'authmodal';

//Slick carousel
$slick-font-family: 'Font Awesome 5 Free';
$slick-prev-character: ' ‹';
$slick-next-character: ' ›';
$slick-arrow-color: $secondary-color;

@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

html,
body {
    font-family: 'Marcellus SC', san-serif;
}

.-btn {
    @include primary-button;
}

.email-pswd-main-div {
    .-btn {
        font-size: 16px;
    }
}

.register-main-div {
    .-btn {
        font-size: 16px;
    }
    .col-form-label,
    .form-control {
        margin: 10px 0px;
    }
}

.privacy-policy,
.terms-container,
.aboutus {
    margin: 20px auto;
}

.aboutus-main-div {
    background-color: $body-bg-option;
    .footer {
        padding: 0px 15px;
        position: absolute;
    }
    .main-heading {
        color: $primary-color;
        margin: 30px 0px 20px 0px;
        font-size: 30px;
    }
    .secondary-heading {
        margin: 25px 0px;
    }
    p {
        margin: 15px 0px;
        font-size: 18px;
    }
}

.socials {
    .-icon {
        color: $secondary-color;
    }
}

.brand-logos {
    .-cb2 {
        max-width: 57px;
        margin: 0 20px;
    }
    .-crate {
        max-width: 141px;
    }
    .-pier1 {
        max-width: 107px;
    }
    .-westelm {
        max-width: 127px;
    }
    .-worldmarket {
        max-width: 116px;
    }
    .more-soon {
        max-width: 189px;
    }
}
