@import 'variables';
.auth-modal {
    .modal-dialog {
        width: 400px;
        max-width: 100%;
        @include media-breakpoint-down(md) {
            max-width: 80%;
            margin: auto;
        }
    }
    .-btn {
        width: 100%;
    }

    .btn-primary.btn-facebook {
        background: $facebook;
    }
    .or-seperator {
        margin: 20px 0 10px;
        text-align: center;
        border-top: 1px solid #ccc;
        i {
            padding: 0 10px;
            background: $white;
            position: relative;
            top: -11px;
            z-index: 1;
        }
    }
}
