.responsive {
    height: 30px;
    max-width: 275px;
    .mini-carousel-item {
        margin: auto;
        text-align: center;
        &:hover {
            box-shadow: 0 0 1px 1px $blue;
        }
        .carousel-img {
            margin: auto;
            &:not(.zoom-img) {
                width: 35px;
                height: 35px;
                object-fit: cover;
            }
        }
        .responsive-img-a {
            outline: none;
        }
    }
    .slick-prev {
        left: -15px;
        &:before {
            color: $black;
        }
    }
    .slick-next {
        right: -15px;
        &:after {
            color: $black;
        }
    }

    .slick-slide {
        padding: 0px 5px;
    }
}
