
.responsive{
    height: 30px;    
    max-width: 190px;
    margin: auto;
    .mini-carousel-item{
        margin: auto;
        text-align: center;
        .carousel-img{
            margin: auto;
        }
        .responsive-img-a{
            outline: none;
        }
    }
    .slick-prev{
        left: -15px;
        &:before{
            color: $black;
        }
    }
    .slick-next{
        right: -15px;
        &:after{
            color: $black;    
        }
    }

    .slick-slide{
        padding: 0px 5px;
    }
}