.irs-handle {
    background-color: $primary-color !important;
    > i:first-child {
        border-top-color: $primary-color !important;
    }
}

.irs-bar {
    background-color: $primary-color !important;
    height: 4px !important;
}
.irs--sharp {
    .irs-from,
    .irs-to,
    .irs-single,
    .irs-min,
    .irs-max {
        background-color: $primary-color !important;
        color: $secondary-color;
        &:before {
            border-top-color: $primary-color !important;
        }
    }
}

.irs-line {
    height: 4px !important;
    background-color: transparent !important;
    border: 1px solid $secondary-color;
    top: 30px !important;
    width: 100%;
}
