.detailspage-main-div {
    // font-family: Helvetica, sans-serif;
    background-color: $white;

    .detailspage {
        min-height: calc(100vh - (155px));

        .wishlist-icon {
            font-size: 24px;

            &.marked {
                .-icon {
                    font-weight: 900;
                }
            }
        }

        .product-navigator {
            margin: 5px;
        }

        .filters.filters-mobile {
            width: 100% !important;
            background: $secondary-color;
            color: $white;
            position: absolute;
            z-index: 100;
            display: none;

            &.show {
                display: block;
            }

            .single-filter {
                margin: 20px;

                .select {
                    .select-styled {
                        background: white;
                        border-radius: 10px;
                        padding-right: 50px;
                        min-width: 220px;

                        &::after {
                            border: none;
                            background: url('../../public/images/filter-arrow.png');
                            width: 41px;
                            height: 41px;
                            top: 0px;
                            right: -20px;
                            background-size: cover;
                            border-radius: 0 10px 10px 0;
                        }
                    }
                }

                .select-label {
                    margin-right: 10px;
                    font-size: 16px;
                    color: $primary-color;
                }

                ul {
                    li {
                        display: inline-block;

                        .container {
                            .checkmark {
                                border: 1px solid $white !important;

                                &:after {
                                    left: 4px;
                                    top: 1px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid $border-color;
                                    border-width: 0 3px 3px 0;
                                    -webkit-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }
                }

                .irs-line {
                    border: 1px solid $white;
                    background-color: $white !important;
                }
            }
        }

        .zoom-img-variation {
            cursor: zoom-in;
        }

        .carousel-img {
            cursor: pointer;
        }

        .controls-div {
            height: 33px;

            .-icon {
                font-size: 22px;
                margin: 5px;
            }
        }

        .-images-container {
            height: 230px;
            overflow-x: auto;
            margin: 5px 0;

            @include media-breakpoint-up(md) {
                margin: 15px 0px;
            }

            .-images {
                overflow-x: scroll;
                overflow-y: hidden;
                height: 230px;
                white-space: nowrap;

                .-prod-img {
                    max-height: 100%;
                    display: inline-block;
                }
            }
        }

        .variation-container {
            position: relative;

            .variation-options {
                max-width: 375px;
                overflow-x: scroll;
                overflow: auto;

                .swatch-images {
                    display: flex;
                    flex-wrap: nowrap;
                    padding: 5px 0 10px 0;

                    .variant-img {
                        width: 30px;
                        height: 30px;
                    }

                    .variant-img.active {
                        -webkit-box-shadow: 0px 0px 0px 2px #ffcc00;
                        -moz-box-shadow: 0px 0px 0px 2px #ffcc00;
                        box-shadow: 0px 0px 0px 2px #ffcc00;
                    }
                }
            }
        }

        .responsive {
            height: auto;
            max-width: 100%;

            .slick-slide {
                margin: 0px;
                padding: 0px;
            }

            .slick-track {
                margin: 0px;
            }

            .mini-carousel-item {
                .carousel-img {
                    margin: 0px;
                }
            }
        }

        .-product-details {
            margin: 10px 0 0 0;

            .-name {
                text-decoration: none;
                color: $secondary-color;
                font-size: 20px;
            }

            .offer-price {
                color: $product-price;
                font-size: 20px;
                margin-right: 10px;
                display: inline-block;
                margin-top: 6px;
            }

            .price {
                font-size: 0.8em;
                text-decoration: line-through;
                display: inline-block;
                margin-left: 0;
                font-size: 20px;
            }
        }

        .prod-price-card {
            border-radius: 20px;
            background-color: $white;
            padding: 30px 10px;
            font-size: 24px;
            font-weight: 600;

            .pdp-buy-btn {
                width: 30%;
                @include primary-button;
            }

            .select-label {
                display: block;
                font-weight: 400;
                text-transform: capitalize;
                font-size: 16px;
                margin: 10px 0px;
            }

            .select {
                display: block;
                width: 100%;
                height: auto;

                .select-styled {
                    padding: 5px 15px;
                    border: 1px solid $primary-color;
                    border-radius: 4px;
                }

                .select-options {
                    max-height: 250px;
                    overflow-y: scroll;

                    li {
                        text-align: center;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
        }

        .rating-container {
            position: absolute;
            right: 20px;
            text-decoration: none;
            color: $secondary-color;
            display: inline-block;

            .rating {
                margin-left: 0px;
            }
        }
    }
}

.drift-zoom-pane {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3) !important;

    &.carousel-zoom-pane {
        margin-top: 100px;
    }
}

.horizontal-scroll {
    /* Make this scrollable when needed */
    overflow-x: hidden;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* If JS present, let's hide the default scrollbar */
    /* positioning context for advancers */
    position: relative;
    font-size: 0;
}

.js .horizontal-scroll {
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Remove the default scrollbar for WebKit implementations */
}

.js .horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll-contents {
    float: left;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    position: relative;
}

.horizontal-scroll-contents-no-transition {
    transition: none;
}

.canvas-scroll {
    /* Reset the button */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding: 0;
    border: 0;
    /* Now style it as needed */
    position: absolute;
    top: 0;
    bottom: 0;
    /* Set the buttons invisible by default */
    opacity: 1;
    transition: opacity 0.3s;
}

.canvas-scroll:focus {
    outline: 0;
}

.canvas-scroll:hover {
    cursor: pointer;
}

.canvas-scroll-left {
    left: 0;
    margin-left: -1rem;
}

[data-overflowing='both']~.canvas-scroll-left,
[data-overflowing='left']~.canvas-scroll-left {
    opacity: 1;
}

.canvas-scroll-right {
    right: 0;
    margin-right: -1rem;
}

[data-overflowing='both']~.canvas-scroll-right,
[data-overflowing='right']~.canvas-scroll-right {
    opacity: 1;
}

@include media-breakpoint-down(md) {
    .nav {
        padding-left: 10px;
    }

    .-product-details {
        border-radius: 20px;
        font-size: 14px;
        font-weight: 600;

        .pdp-buy-btn {
            text-align: center;
            display: inline-block;
            width: 35%;
            color: $primary-color;
            background-color: $secondary-color;
            font-size: 15px;
            border-radius: 10px;
            margin: 2px 0px;
        }

        span {
            color: $black;
        }
    }

    .description-title {
        font-weight: bold;
    }

    .swatch-images {
        width: 375px;
    }

    .prod-desc {
        padding: 0px;
        overflow: auto;
    }

    .detailspage {
        .container {
            padding: 0px;
            margin: 0px;
            color: $black;
        }
    }

    .tab-content {
        padding: 18px;
        font-size: 18px;
        background-color: $body-bg;
    }
}

.tab-pane {
    margin-top: 10px;
}

.detail-nav-link {
    color: $black;
}

.card .card-header {
    background: $secondary-color;

    .btn-link {
        &:hover {
            text-decoration: none;
        }
    }

    .btn.btn-link {
        width: 100%;
        text-align: left;

        &:hover {
            color: $golden;
        }

        .-text {
            color: $primary-color;

            &:hover {
                color: $golden;
            }

            &:after {
                content: '';
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-color: $primary-color transparent transparent transparent;
                top: 10px;
                left: 7px;
                position: relative;
            }
        }
    }
}

.close-main-btn {
    position: absolute;
    right: 0;
    font-size: 30px;
    margin: 20px;
    z-index: 1000;
    cursor: pointer;
}

.prod-main-img {
    display: none;
}

.box {
    max-width: 1080px;
    margin: auto;
}

.-text {
    color: $secondary-color;
}

#scroll-bar-img {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #ffcc00;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #ffcc00ba;
    }
}

.btn-link-text {
    font-size: 14px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    &:after {
        content: '>';
        background: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border: 5px solid transparent;
        border-color: $primary-color transparent transparent transparent;
        font-size: 14px;
        background: $yellow;
    }
}