.dropdown {
    &.active {
        background-color: $primary-color;
    }
    .dropdown-toggle {
        &:active {
            // pointer-events: none; // Add this, to prevent clicking dropdown's default click function
        }
    }

    .dropdown-menu {
        border: 1px solid $border-color;
        border-radius: 4px;
        // max-width: 157px;
        text-align: left;
        // max-width: 100px !important;
        // width: 100px !important;
        width: 275px;
        a:hover {
            text-decoration: none;
            color: $primary-color;
        }

        @media only screen and (max-width: 480px) {
        }

        li {
            border-bottom: 1px solid $border-color;
            min-height: 30px;
        }
    }
}
.dropdown .dropdown-menu {
    @media only screen and (max-width: 786px) {
        border: 1px solid $border-color;
        border-radius: 4px;
        // max-width: 157px;
        text-align: left;
        max-width: 180px;
        // width: 100px !important;
    }
}
.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition !important;
    border: 0 solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.dropdown-submenu {
    @media only screen and (min-width: 768px) {
        a {
            padding: 0px;
        }
    }
    .dropdown-menu {
        left: 100%;
    }
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: -4px; // remove the gap so it doesn't close
}

//  .dropdown-submenu a:hover{
//      + .dropdown-menu{
//         display: block;
//      }
//  }
