.filters {
    margin-top: 35px;
    text-align: center;
    white-space: nowrap;

    .filter-tabs {
        text-align: left;
        margin: 0;
        width: 101%;
        li {
            display: inline-block;

            a {
                color: $secondary-color;
                text-transform: uppercase;

                &.applied {
                    color: $primary-color;
                }
            }
            .dropdown-menu {
                display: none;
                margin: 0 10px;
                z-index: 1;
                max-width: 230px;
                max-height: 300px;
                overflow-y: auto;

                .dropdown-item {
                    float: left;
                }
            }
            &:hover {
                a {
                    color: $primary-color;
                }
                .dropdown-menu {
                    display: block;
                }
            }
        }
    }
    .total-items {
        text-align: right;
        right: 10px;
        position: relative;
        top: 8px;
        color: $text-subtle;
    }

    @media only screen and (min-width: 768px) {
        position: sticky;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        top: 0;
        z-index: 200;
        padding: 10px 0;
        background: #f8fafc;
        box-shadow: 0 0 1px 1px #eee;
        margin: 10px 0;
        .filter {
            .filter-header {
                font-size: 18px;
            }
        }
        .clearall-filter-btn {
            color: $primary-color;
            background: none;
            margin-left: 20px;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .clearall-filter-btn {
        color: $text-subtle;
        background-color: none;
    }

    .filter {
        text-align: left;

        .filter-header {
            font-size: 18px;
        }

        .clear-filter {
            font-size: 14px;
            color: $primary-color;
            cursor: pointer;
            visibility: hidden;
        }

        .clear-filter.visible {
            visibility: visible;
            color: #999999;
        }

        ul {
            padding: 0px;
            margin: 10px;

            li {
                list-style: none;

                /* Customize the label (the container) */
                .filter-label {
                    display: block;
                    position: relative;
                    // padding-left: 25px;
                    margin: 10px;
                    cursor: pointer;
                    font-size: 14px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    line-height: 1;
                }

                /* Hide the browser's default checkbox */
                .filter-label input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                /* Create a custom checkbox */
                .checkmark {
                    position: absolute;
                    top: 0;
                    // left: 0;
                    right: 0;
                    height: 15px;
                    width: 15px;

                    /* background-color: #eee; */
                    border-radius: 2px;
                    border: 1px solid $secondary-color;
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: '';
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                .filter-label input:checked ~ .checkmark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .filter-label .checkmark:after {
                    left: 4px;
                    top: 1px;
                    width: 5px;
                    height: 10px;
                    border: solid $secondary-color;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .filters {
        width: 100% !important;
        background: $secondary-color;
        color: $white;
        position: fixed;
        height: 100vh;
        z-index: 100;
        display: none;
        top: 0;
        margin-top: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        &.show {
            display: block;
        }

        // &:before {
        //     content: '';
        //     position: absolute;
        //     width: 0;
        //     height: 0;
        //     top: -18px;
        //     right: 5px;
        //     border-top: solid 10px transparent;
        //     border-bottom: solid 10px $secondary-color;
        //     border-left: solid 10px transparent;
        //     border-right: solid 10px transparent;
        // }
        .sort-filter-input {
            text-align: left;
            margin: 20px 30px;
            border-bottom: 1px solid #d3d3d3;
        }
        .filter-title {
            color: $white;
            font-size: 20px;
        }
        .clearall-filter-btn {
            color: $yellow-text-color;
            padding: 0;
        }

        .fix-search {
            margin-top: 0 !important;
        }

        hr {
            color: $white;
            border-top: 1px solid #ebebeb;
        }
        .tab-column {
            padding: 0 0 10px 0;
            background-color: $grey;
            height: 90vh;
        }
        .filters-height {
            height: calc(100% - 30px);
            background-color: $white;
        }
        .total-results {
            color: #ffcc00;
            text-align: center;
            position: fixed;
            bottom: 20px;
            font-size: 18px;
            left: 0;
            right: 0;
            border: 1px solid lightgray;
            background-color: #e9ecef;
            padding: 5px 5px;
            .filter-results {
                width: 100%;
                background-color: #ffcc00;
                border: none;
                padding: 10px;
            }
        }
        .filter-tabs {
            .nav {
                padding-left: 15px;
                .nav-item {
                    .nav-link {
                        padding: 1rem 0.5rem 1rem 0.5rem;
                        color: $secondary-color;
                        &.selected {
                            background-color: $white;
                            color: $brown-text-color !important;
                        }
                    }
                }
            }
        }
        .filter {
            display: none;
            .clear-btn {
                text-align: right;
                padding: 15px 10px 0 0;
                label {
                    color: $secondary-color;
                }
            }
            .filter-item {
                color: $secondary-color;
            }
        }
        .filter.selected {
            display: block;
            padding-right: 20px;
        }

        .filter {
            text-align: left;
            .filter-header {
                color: $products-bg;
                text-transform: capitalize;
                font-size: 20px;
            }

            .clear-filter {
                color: $yellow-text-color;
                font-family: Marcellus;
            }

            .item-list {
                white-space: normal;
                text-align: left;
                margin: 0 0 0 10px;
                overflow: auto;

                .filter-item {
                    margin-right: 10px;
                    padding: 1px 0;

                    .filter-label {
                        font-size: 16px;
                        .checkmark {
                            border: 1px solid $secondary-color;

                            &:after {
                                left: 4px;
                                top: 1px;
                                width: 5px;
                                height: 10px;
                                border: solid $secondary-color;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
            .irs--sharp {
                margin-top: 15px;
                width: 95%;
                .irs-to {
                    color: $secondary-color;
                }
                .irs-from {
                    color: $secondary-color;
                }
            }
            .irs-line {
                border: 1px solid $secondary-color;
                top: 30px !important;
                background-color: $secondary-color !important;
            }
        }
    }
    .mobile-filter-header {
        .filters-close-btn {
            .fa-times {
                height: inherit;
                width: inherit;
            }
            width: 40px;
            font-size: 20px;
        }
        .clear-all {
            float: right;
            padding-top: 3px;
        }
    }
    .sort-container {
        background-color: $white;
        color: $secondary-color;
        .mobile-sort-header {
            color: $white;
            background-color: $secondary-color;
            padding: 5px 15px;
            .filters-close-btn {
                width: 40px;
                font-size: 20px;
            }
        }
        .sort-label {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 90px;
        height: 15px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
}

.listing-top-controls {
    position: relative;
    top: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    .filter-toggle-mobile {
        margin: 0px 45px;
        left: 0;
        right: 0;
    }
    .fix-search {
        position: fixed;
        z-index: 100;
        top: 0;
        padding: 10px 0;
        background: $secondary-color;
        color: $primary-color;
        right: 0;
        left: 0;
        margin: 0;
    }

    .filter-toggle,
    .view-items-toggle {
        margin: 10px;
        font-size: 15px;
    }

    .dropdown {
        margin: 5px;
        text-align: center;

        .dropdown-menu {
            text-align: left;
        }

        .dropdown-toggle {
            &:not(.dropdown-item) {
                font-size: 22px;
                color: $secondary-color;

                &::after {
                    display: none;
                }
            }
        }

        .dropdown-item {
            white-space: unset !important;
            &:hover {
                .dropdown-menu {
                    display: block;
                }
            }

            &:active {
                background-color: $secondary-color;
            }

            &::after {
                display: none;
            }

            .fas.fa-angle-right {
                font-size: 20px;
            }
        }
    }

    .breadcrumb {
        position: relative;
        float: left;
        padding: 12px 5px;
    }
}
