.footer {
    padding: 10px 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: $secondary-color;
    color: $white;
    .footer-text {
        font-size: 14px;
        a {
            font-size: 14px;
            color: $white !important;
        }
    }
    .policy-terms {
        a {
            font-size: 10px;
            color: $white !important;
        }
    }
}
@include media-breakpoint-up(sm) {
    .footer {
        display: inline-block;
        .footer-text {
            display: inline-block;
            margin-right: 10px;
            padding-right: 75px;
        }
    }
}
