@media only screen and (min-width: 768px) {
    .homepage-main-div {
        .searchbar {
            &:not(.open) {
                display: none;
            }

            &.sb-body {
                display: block;
            }
        }

        .footer {
            position: absolute;
            bottom: 0;
        }
    }
}

@include media-breakpoint-down(md) {
    .homepage-main-div {
        .searchbar.sb-body {
            position: relative;
            top: 0px;
            display: block;
            .card-body {
                padding: 4px 15px;
            }
        }
        .main-container {
            min-height: auto !important;
        }
        .search-icon-mobile {
            display: none;
        }
    }
}

.homepage-main-div {
    .main {
        background-color: $background-color;
        background-image: url('/images/homepage-sofa-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100vw;
    }
}

.homepage {
    .category-links {
        position: absolute;
        top: 50vh;
        width: 100%;
        padding: 0px 75px;
        text-align: right;

        @include media-breakpoint-down(md) {
            position: relative;
            top: 0px;
            background: #fffff9;
            // margin-top: 10px;
        }

        .-heading {
            color: $brown-text-color;
            font-size: 20px !important;
            text-align: center;
            margin-top: 20px;
        }

        .-depts {
            margin: 40px 0px 0px 0px;
            .carousel-control-next,
            .carousel-control-prev {
                font-size: 20px;
                color: $black;
            }
            .carousel-indicators {
                li {
                    border: 1px solid $black;
                    border-radius: 100px;
                    width: 7px;
                    height: 7px;
                    margin-bottom: -35px;
                }
                .active {
                    background-color: $black;
                }
            }
            .carousel-inner {
                .carousel-item {
                    a,
                    a:hover,
                    a:visited {
                        text-decoration: none;
                    }
                    img {
                        margin: 0 10px;
                        padding: 2px;
                    }
                    .top-trending-text {
                        color: $black;
                        font-size: 18px;
                    }
                    .col-sm-12 {
                        margin-bottom: 35px;
                    }
                }
            }
            .-dept {
                padding-left: 30px;
                font-size: 40px;
                padding-right: 0px;
                flex: 1 1 auto;

                a {
                    color: $yellow-text-color;
                }
            }
        }
    }

    .brand-association {
        background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        bottom: 55px;
        width: 100%;
        padding: 10px 30px;

        @include media-breakpoint-down(md) {
            position: relative;
            top: 0px;
            margin-top: 20px;
        }

        .-text {
            font-size: 26px;
        }

        .socials {
            .-text {
                font-size: 18px;
                line-height: 2;
            }

            .-icon {
                font-size: 20px;
                padding: 0px 8px;
            }
        }
    }

    .search-icon-mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .homepage-main-div {
        .main {
            background-image: none;
        }
    }
    .homepage .category-links {
        text-align: left;
        padding: 10px 0;
        margin-bottom: 15px;

        .-depts {
            margin-top: 0px !important;
            max-width: 100%;
            margin: auto;

            .-dept {
                padding: 0px 15px !important;
                height: 30px;
                border-radius: 4px;
                text-align: center;
                border: 1px solid $border-color;

                a {
                    display: block;
                    font-size: 18px;
                    color: $secondary-color !important;
                }
            }
        }
        .-trending {
            .carousel-control-next,
            .carousel-control-prev {
                font-size: 20px;
                color: $black;
                margin-bottom: 200px;
            }
            .carousel-indicators {
                li {
                    border: 1px solid $black;
                    border-radius: 100px;
                    width: 7px;
                    height: 7px;
                    margin-bottom: -35px;
                }
                .active {
                    background-color: $black;
                }
            }
            .carousel-inner {
                padding-bottom: 20px;
                .carousel-item {
                    text-align: left;
                    padding: 0;
                    text-align: center;
                    font-size: 18px;
                    img {
                        width: 90%;
                        margin: 10px;
                    }
                    .collapse-btn {
                        text-align: left;
                        max-width: 90%;
                        margin: 5px auto;
                        a.load-more-button {
                            color: $black;
                            text-decoration: none;
                            .less {
                                display: inline-block;
                            }
                            .more {
                                display: none;
                            }

                            &.collapsed {
                                .less {
                                    display: none;
                                }
                                .more {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .top-trending-site {
                        text-align: left !important;
                        color: #999999;
                        max-width: 90%;
                        margin: 5px auto;
                    }
                    .prod-price-div {
                        text-align: left;
                        max-width: 90%;
                        margin: 5px auto;
                        .prod-sale-price {
                            text-align: left !important;
                            color: $product-price;
                        }
                        .prod-was-price {
                            margin-left: 5px;
                            text-decoration: line-through;
                            color: $black;
                        }
                    }

                    .top-trending-text {
                        text-align: justify !important;
                        color: $black;
                        max-width: 90%;
                        margin: 5px auto;
                    }
                    h3 {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .homepage .brand-association {
        padding: 10px 34px !important;
        background: #fffff9;

        .-text {
            font-size: 14px !important;
            color: $brown-text-color;
            margin-bottom: 20px;
        }

        .socials {
            display: none;
        }

        .brand-logos {
            .brand-logo {
                width: 100% !important;
                margin-bottom: 10px;

                &.more-soon {
                    width: 100% !important;
                }
            }
        }
    }
}
