.homepage {
    background-color: $background-color;
    background-image: url("/images/homepage-sofa-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

    @media only screen and (max-width: 768px) {
        background-size: contain;
        background-position: top $navbar-height-mobile left;
    }

    .submenu-area {
        background: transparent;
        padding-left: 40px;

        .navbar {
            height: 28px;
            background-color: transparent !important;

            .dropdown {
                &:hover {
                    .dropdown-menu {
                        display: block;
                    }
                }

                .dropdown-toggle {
                    &:active {
                        pointer-events: none; // Add this, to prevent clicking dropdown's default click function
                   
                    }
                }

                .dropdown-menu {
                    border: 1px solid $border-color;
                    border-radius: 4px;
                    max-width: 157px;
                    text-align: center;
                    li{
                        border-bottom: 1px solid $border-color;
                        min-height: 30px
                    }
                }
            }
        }
    }

    .dropdown-menu {
        padding: 0;
        margin: 0;
        border: 0 solid transition !important;
        border: 0 solid rgba(0, 0, 0, 0.15);
        border-radius: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a, .navbar-expand-lg .navbar-nav .nav-link {
        color: $secondary-color;
        font-size: 20px;
        text-transform: capitalize;
        padding: 0px 15px;
        display: block !important;
    }

    .mainmenu .active a, .mainmenu .active a:focus, .mainmenu .active a:hover, .mainmenu li a:hover, .mainmenu li a:focus, .navbar-default .navbar-nav > .show > a, .navbar-default .navbar-nav > .show > a:focus, .navbar-default .navbar-nav > .show > a:hover {
        background-color: rgba(255, 255, 255, 0.7);
        outline: 0;
    }

    /*==========Sub Menu=v==========*/
    .mainmenu .collapse ul > li:hover > a {
        background-color: rgba(255, 255, 255, 0.7);
    }

    .mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
        background-color: rgba(255, 255, 255, 0.7);
    }

    .mainmenu .collapse ul ul ul > li:hover > a {
        background-color: rgba(255, 255, 255, 0.7);
    }

    .searchbar-header {
        display: none;
    }

    .category-links {
        position: absolute;
        top: 50vh;
        width: 100%;
        padding: 0px 75px;
        text-align: right;

        .-heading {
            font-size: 24px;
            color: $brown-text-color;
        }

        .-depts {
            margin: 40px 0px 0px 0px;

            .-dept {
                padding-left: 30px;
                font-size: 40px;
                padding-right: 0px;
                flex: 1 1 auto;

                a {
                    color: $yellow-text-color;
                }
            }
        }
    }

    .searchbar-body {
        top: 40vh;
        height: 55px;
        width: 50%;
        max-width: 551px;
        margin: auto;
        left: calc(50% - 275px);
        border: 4px solid $border-color;

        .card-body {
            padding: 0px 15px;

            .search-icon {
                font-size: 30px;
                color: $primary-color;
            }

            .form-control[type="search"] {
                border: none;
                outline: none !important;
                box-shadow: none !important;
            }

            .btn[type="submit"] {
                padding: 0px 15px;
                background-color: transparent;
                border: 4px solid $border-color;
                width: 130px;
                outline: none !important;
                box-shadow: none !important;
                color: $secondary-color;
            }
        }
    }

    .brand-association {
        background-color: rgba(255, 255, 255, 0.7);
        position: absolute;
        bottom: 30px;
        width: 100%;
        padding: 10px 30px;

        .-text {
            font-size: 26px;
        }

        .brand-logos {
            padding: 0px 30px;

            .brand-logo {
                padding-left: 15px;
                width: 15%;

                &.more-soon {
                    width: 25%;
                }
            }
        }

        .socials {
            .-text {
                font-size: 18px;
                line-height: 2;
            }

            .-icon {
                font-size: 20px;
                padding: 0px 8px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .searchbar-body {
        height: 34px !important;
        border: 1px solid #000 !important;
        left: 0px !important;
        border-radius: 0px;
        width: 100% !important;

        .search-icon {
            font-size: 18px !important;
        }

        .form-control[type="search"] {
            padding-top: 0px;
            padding-bottom: 0px;
            max-height: 24px;
            line-height: 1;
            font-size: 14px;
        }
    }

    .category-links {
        text-align: left !important;
        padding: 0px !important;

        .-heading {
            font-size: 14px !important;
            margin-left: 34px;
        }

        .-depts {
            margin-top: 0px !important;
            max-width: 100%;
            margin: auto;

            .-dept {
                padding: 0px 15px !important;
                height: 30px;
                background: #FFFFF9;
                border-radius: 4px;
                text-align: center;
                border: 1px solid $border-color;

                a {
                    display: block;
                    font-size: 18px;
                    color: $secondary-color !important;
                }
            }
        }
    }

    .brand-association {
        padding: 0px 34px !important;
        top: 73vh;

        .-text {
            font-size: 14px !important;
            color: $brown-text-color;
            margin-bottom: 20px;
        }

        .socials {
            display: none;
        }

        .brand-logos {
            .brand-logo {
                width: 20% !important;

                &.more-soon {
                    width: 30% !important;
                }
            }
        }
    }
}
