// @import 'detailOverview';
// .listing-main-div {
//     .searchbar {
//         top: 8px;
//     }
// }
// .detailspage {
//     .wishlist-icon-modal {
//         &.marked-icon {
//             .-icon {
//                 font-weight: 900;
//             }
//         }
//     }
// }
.-features {

    // text-transform: lowercase;
    ul {
        padding-left: 15px !important;
    }
}

input:disabled+span.checkmark,
input:disabled+.checkmark+.text {
    color: #b6b4b4c2;
    border-color: #b6b4b4c2 !important;
}

.listing {
    min-height: calc(100vh - (195px));

    @include media-breakpoint-up(md) {
        min-height: calc(100vh - (145px));
    }

    .slick-prev,
    .slick-next {
        &:before {
            font-size: 30px;
            line-height: 10px;
        }
    }

    .listing-container {
        margin-top: 35px;
        margin: auto;
        min-height: calc(100vh - 314px);

        @media only screen and (min-width: 1200px) {
            max-width: 1500px;
        }

        .page-heading {
            color: $brown-text-color;
            text-transform: uppercase;
            margin-bottom: 40px;
        }

        .fix-search-filter {
            margin-top: 10px !important;
        }

        .sortby {
            text-align: right;

            .form-control {
                display: none;
            }

            .select-options li {
                padding: 12px 30px;
            }

            .select-styled {
                padding: 8px 30px 5px 15px;
            }
        }

        .total-items {
            text-align: right;
            right: 10px;
            position: relative;
            top: 8px;
            color: $text-subtle;
        }

        .top-button {
            position: fixed;
            bottom: 210px;
            right: 20px;
            border-radius: 35px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #0c1c31;
            color: $white;
            cursor: pointer;
            padding: 15px 20px;
        }
    }
}

.category-img {
    width: 100%;
    margin: 20px 0;
    max-width: 220px;
    min-height: 220px;
}

.category-img-container {
    max-width: 1080px;
    margin: 0 auto;
    min-height: 60px;
}

.category-listing {
    margin-top: 20px;

    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.category-text {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: $secondary-color;
    margin-bottom: 40px;
    padding: 0;

    &:hover {
        text-decoration: none;
    }
}

@media only screen and (max-width: 768px) {
    .listing {
        .searchbar {
            top: 33px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .category-img {
        min-height: 162px;
    }

    .-depts {
        text-align: center;

        .-topCategories {
            .top-trending-img {
                img {
                    width: 150px;
                    background-color: $background-color;
                    border-radius: 100px;
                }
            }
        }
    }

    .listing,
    .category-page {
        font-family: 'Fenix', serif;

        .listing-container {
            .listing-top-controls {
                position: absolute;

                .page-navigator-mobile {
                    width: 100%;
                    margin: 5px 2px;
                    text-align: left;
                    font-size: 18px;
                    text-transform: capitalize;

                    a {
                        color: $black;
                        text-decoration: none;
                    }
                }

                .search-navigator {
                    color: $product-price;
                }
            }
        }
    }

    .listing,
    .category-page {
        .listing-container {
            .mobile-filter-header {
                padding: 5px 15px;
            }

            .nav-link.selected {
                background-color: $white;
                color: $secondary-color !important;
            }

            .disabled-link {
                opacity: .4;
            }

            .listing-top-controls {
                position: relative;
                width: 100%;
                text-align: center;
                margin: 5px;

                .filter-toggle-mobile {
                    margin: 0px 45px;
                    position: absolute;
                    left: 0;
                    right: 0;
                }

                .fix-search {
                    position: fixed;
                    z-index: 100;
                    top: 0;
                    padding: 10px 0;
                    background: $secondary-color;
                    color: $primary-color;
                    right: 0;
                    left: 0;
                    margin: 0;
                }

                .filter-toggle,
                .view-items-toggle {
                    margin: 10px;
                    font-size: 15px;
                }

                .dropdown {
                    margin: 5px;
                    text-align: center;

                    .dropdown-menu {
                        text-align: left;
                    }

                    .dropdown-toggle {
                        &:not(.dropdown-item) {
                            font-size: 22px;
                            color: $secondary-color;

                            &::after {
                                display: none;
                            }
                        }
                    }

                    .dropdown-item {
                        white-space: unset !important;

                        &:hover {
                            .dropdown-menu {
                                display: block;
                            }
                        }

                        &:active {
                            background-color: $secondary-color;
                        }

                        &::after {
                            display: none;
                        }

                        .fas.fa-angle-right {
                            font-size: 20px;
                        }
                    }
                }

                .breadcrumb {
                    position: relative;
                    float: left;
                    padding: 12px 5px;
                }
            }

            .products-container {
                margin-top: 35px;
                padding: 0;

                .ls-prod-container {
                    margin: auto;

                    .ls-product-div {
                        .prod-sale-price {
                            padding: 0 5px;
                            z-index: 58;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            background: $off-white;
                            color: $secondary-color;

                            &.sale {
                                color: $product-price;
                            }

                            .new-tag {
                                display: inline-block;
                                margin-right: 5px;
                                color: $brown-text-color;
                            }
                        }

                        .prod-discount-tag {
                            z-index: 58;
                            position: absolute;
                            right: 1px;
                            bottom: 1px;
                            background: #e8c101;
                            padding: 0 4px;
                            color: #fff;

                            &._20 {
                                background: #e84c01;
                            }
                        }

                        margin-bottom: 0px;
                        padding: 1px;

                        .ls-product {
                            margin-bottom: 0px;
                            min-height: 100px;
                            background-position: bottom;
                        }
                    }
                }
            }
        }
    }

    .main-container {
        min-height: calc(100vh - #{$navbar-height-mobile} - #{$listing-top-ctrl-height}) !important;
    }

    .dropdown-submenu {
        position: relative;

        @include media-breakpoint-down(md) {
            .dropdown-item {
                width: 90%;
                z-index: 5;
            }

            .dropdown-toggle {
                margin-top: 4px;
            }
        }
    }

    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: 0.8em;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
}

.submenu-dropdown {
    padding: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: $secondary-color;
    overflow-x: hidden;
    transition: all 0.3s 0s ease-out;
    padding-top: 60px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: $border-color;
    text-decoration: none;
}

.sidenav .collapsible {
    color: $white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
}

.active,
.sidenav .collapsible:hover {
    color: $primary-color;
}

.sidenav-items {
    padding: 0 18px;
    overflow: hidden;
    list-style-type: none;
    white-space: nowrap;

    .department {
        color: $white;

        .category-list {
            padding: 0 50px;
            overflow: hidden;
            list-style-type: none;
            background-color: $category-bg;
            margin: 0 -20px;

            a.link {
                color: $white;
            }
        }
    }

    a.link {
        color: $white;
        width: 80%;
        display: inline-block;
        padding: 5px 0;
        text-decoration: none;

        &:hover {
            color: $primary-color;
        }
    }

    a.collapsible {
        padding-right: 10px;
        text-decoration: none;
        font-size: 20px;
        display: block;

        &.active {
            color: $products-bg;

            .side-nav-icon {
                color: $products-bg;
                transform: rotate(90deg);
            }
        }
    }

    .side-nav-link {
        margin-left: 180px;
    }

    .side-nav-icon {
        float: right;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
        color: $white;
    }
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    list-style: none;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
    color: $category-bg;
}

.pdp-buy-btn {
    color: $products-bg;
    background-color: $category-bg;
    margin: 5px;
    display: inline-block;
    width: 20%;
}

.pdp-buy-btn:hover {
    color: $products-bg;
    text-decoration: none;
}

.-product-details {
    margin: 10px 5px;

    .offer-price {
        font-size: 25px;
        color: $product-price;
    }

    .price {
        text-decoration: line-through;
        font-size: 25px;
        margin-left: 10px;
    }
}

//lightbox
.ekko-lightbox-nav-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        // -ms-flex: 1;
        // flex: 1;
        // display: -ms-flexbox;
        // display: flex;
        -ms-flex-align: center;
        align-items: center;
        // opacity: 0;
        transition: opacity 0.5s;
        color: $products-bg;
        font-size: 30px;
        z-index: 1;
        text-decoration: none;
    }

    a span {
        padding: 0 30px;
        color: $products-bg;
    }

    a>* {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}