.navbar {
    height: $navbar-height;
    background-color: transparent !important;
    color: $secondary-color;
    font-size: 18px;

    // padding: 10px 75px;

    .logo {
        max-width: 210px;
        padding-left: 24px;

        @media only screen and (max-width: 768px) {
            max-width: 110px;
        }
    }

    .dropdown-toggle.user-icon::after {
        display: none;
    }

    .navbar-nav {
        .nav-item {
            .-icon {
                font-size: 25px;
                vertical-align: text-bottom;
            }
        }

        & > li:not(.nav-item) > a {
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                background-color: $primary-color !important;
            }
        }
        & > li.-username {
            a {
                color: $font-color-black;
                .fa-sign-out {
                    margin: 7px;
                }
            }
        }
    }

    .navbar-toggler {
        .-bars {
            color: $primary-color;
            font-size: 30px;
        }
    }

    .-right {
        display: flex;
        flex-grow: 1;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: $secondary-color !important;
        height: $navbar-height-mobile;
        padding-top: 0px;
        padding-bottom: 0px;

        .logo {
            padding-left: 0px;
        }
        .navbar-toggler {
            padding-left: 0px;
            .-bars {
                font-size: 18px;
            }
        }
        .navbar-brand {
            text-align: center;
            margin: auto;
        }

        .nav-item.mobile-some-icons {
            .user-icon,
            .search-icon-mobile,
            .wishlist-icon {
                padding: 0px;
                font-size: 18px;
                color: $primary-color;
                margin: 0px 5px;
            }
        }
    }
}
.btn-block {
    display: block;
    width: 70%;
    margin: 5px 0;
    box-shadow: 2px 2px 5px 0px #0000003b;
}
.form-control {
    width: 70%;
    margin: 2px auto;
    font-family: Marcellus !important;
}
.auth-modal .-btn {
    width: 70% !important;
    font-size: 15px !important;
}
.modal-header-text {
    color: $primary-color;
    font-weight: 500;
    margin: 20px 0;
}
