.searchbar {
    &.sb-body {
        top: 40vh;
        display: none;
    }
    height: 55px;
    width: 50%;
    max-width: 551px;
    margin: auto;
    position: absolute;
    left: calc(50% - 375px);
    border: 4px solid $border-color;

    .card-body {
        padding: 0px 15px;

        .search-icon {
            font-size: 30px;
            color: $primary-color;
        }

        .form-control[type='search'] {
            border: none;
            outline: none !important;
            box-shadow: none !important;
        }

        .btn[type='submit'] {
            padding: 0px 15px;
            background-color: transparent;
            border: 4px solid $border-color;
            width: 130px;
            outline: none !important;
            box-shadow: none !important;
            color: $secondary-color;
        }
    }
}

@media only screen and (max-width: 768px) {
    .searchbar {
        top: $navbar-height-mobile;
        height: 34px !important;
        border: 1px solid #ccc !important;
        left: 0 !important;
        right: 0;
        width: auto;
        border-radius: 5px;
        z-index: 10;
        margin: 5px;

        &:not(.open) {
            display: none;
        }
        .card-body {
            .search-icon {
                font-size: 18px !important;
            }

            .form-control[type='search'] {
                padding-top: 0px;
                padding-bottom: 0px;
                max-height: 24px;
                line-height: 1;
                font-size: 14px;
                width: 100%;
            }
            .btn[type='submit'] {
                width: auto;
                border: none;
                background-color: #0c1c31;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                position: relative;
                right: -15px;
                height: 30px;
            }
        }
    }
}
