.submenu-area {
    // background: $secondary-color;
    padding-left: 40px;
    margin: 15px 0;

    .navbar {
        height: 28px;
        background-color: transparent !important;
    }
}

.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    color: $secondary-color;
    font-size: 18px;
    text-transform: capitalize;
    padding: 0px 15px;
    display: block !important;
}

.mainmenu .active a,
.mainmenu .active a:focus,
.mainmenu .active a:hover,
.mainmenu li a:hover,
.mainmenu li a:focus,
.navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    outline: 0;
}

/*==========Sub Menu=v==========*/
.mainmenu .collapse ul > li:hover > a {
    background-color: rgba(255, 255, 255, 0.7);
}

.mainmenu .collapse ul ul > li:hover > a,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.mainmenu .collapse ul ul ul > li:hover > a {
    background-color: rgba(255, 255, 255, 0.7);
}
