.subscriber-container {
    padding: 20px;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin: 20px 0;
    font-size: 20px;

    .inner-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscriber-text {
        margin-right: 20px;
        min-width: 320px;

        .category-text-inline {
            text-transform: capitalize;
        }
    }

    .subscriber-form {
        min-width: 320px;

        input {
            margin: 0;

            &.error {
                border-color: $red
            }
        }

        .error-message {
            font-size: 14px;
            color: $red;
        }

        .btn {
            color: #ffcc00;
            background-color: #21334b;
        }

    }

    @media only screen and (max-width: 768px) {
        text-align: center;
        margin: 10px 0;
        font-size: 14px;

        .subscriber-text {
            margin-right: 0px;


        }
    }
}